<h1>Cinematrix</h1>

<p>View and vote on which movie clip is the most iconic of <strong>all time</strong>.</p>

<%= link_to "Start voting", videos_path %><br />
<%= link_to "View rankings", videos_path %> <br />
<%= link_to "Add video", new_video_path %>
